#home {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: auto;

  position: relative;
  top: 15%;
  width: 80%;
  height: 400px;
}

.box1 {
  background-color: #dec4e3;
  width: 40%;

  margin-inline: 2rem;
  box-shadow: 0px 0px 5px #dec4e3;

  border-radius: 5px;
}

.box2 {
  background-color: #c8dfdf;
  width: 40%;
  box-shadow: 0px 0px 5px #c8dfdf;

  border-radius: 5px;
}

.box3 {
  background-color: #fbe0d7;
  width: 40%;
  margin-inline: 2rem;
  box-shadow: 0px 0px 5px #fbe0d7;
  border-radius: 5px;
}

.btn-p1 {
  display: flex;
  margin: auto;

  border-radius: 5px;
  background-color: whitesmoke;

  padding-inline: 10px;
  padding-block: 5px;
}

@media screen and (max-width: 480px) {
  .container {
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    top: 5%;
    height: 100%;
  }

  .box1 {
    width: 90%;
  }
  .box2 {
    width: 90%;
    margin-block: 1rem;
  }
  .box3 {
    width: 90%;
  }
}
