#home {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: auto;

  position: relative;
  top: 15%;
  width: 80%;
  height: 70%;
}

.box1 {
  background-color: #9dbdcd;
  width: 40%;

  margin-inline: 2rem;
  box-shadow: 0px 0px 5px #9dbdcd;

  border-radius: 5px;
}

.box2 {
  background-color: #9dcdb5;
  width: 40%;
  box-shadow: 0px 0px 5px #9dcdb5;

  border-radius: 5px;
}

.box3 {
  background-color: #cc9dcd;
  width: 40%;
  margin-inline: 2rem;
  box-shadow: 0px 0px 5px #cc9dcd;
  border-radius: 5px;
}

.btn-p1 {
  border-radius: 5px;
  background-color: whitesmoke;

  padding-inline: 10px;
  padding-block: 5px;
}
