#Page1 {
  padding-bottom: 4rem;
}

.container1 {
  background-color: antiquewhite;
  border-radius: 5px;
  box-shadow: 0px 0px 5px antiquewhite;

  display: grid;
  flex-direction: column;
  margin: auto;
  margin-bottom: 5rem;

  height: 100%;
  width: 90%;

  overflow: hidden;
}

.header1 {
  font-size: 30px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.title1 {
  font-size: 20px;
  font-weight: bolder;

  padding-top: 3rem;
  padding-left: 2.5rem;
}

.myText {
  height: 20rem;
  width: 90%;
  text-align: start;
  display: flex;
}

.textContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.email-container {
  margin-left: 3rem;
  margin-right: 2.5rem;
}

.date-container {
  margin-left: 3rem;
}

.container2 {
  display: flex;
  justify-content: start;
  margin-block: 2rem;
  margin-left: 1rem;
}

.btn-send {
  background-color: white;
  width: 200px;

  padding-block: 0.5rem;
  margin-block: 2rem;
  margin-right: 3.5rem;
  float: right;
  border-radius: 8px;
  cursor: pointer;
}

.email {
  width: 250px;
}

.send-select {
  width: 200px;
}

@media screen and (max-width: 480px) {
  .container1 {
    display: flex;
    flex-direction: column;
  }

  .header1 {
    font-size: larger;
  }

  .title1 {
    font-size: 15px;
  }

  .myText {
    width: 80%;
  }

  .container2 {
    display: grid;
    flex-direction: column;
  }
  .email {
    width: 200px;
    align-items: start;
  }

  .send-select {
    width: 200px;
  }

  .btn-send {
    align-items: center;
    margin: auto;
    width: 150px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
